@media (max-width: 640px) {
    #nav-menu {
      display: none;
    }
  
    #mobile-menu-button:focus + #nav-menu,
    #mobile-menu-button:hover + #nav-menu {
      display: flex;
      flex-direction: column;
    }
  }