@font-face {
  font-family: "Acme", sans-serif;
  src: url(Acme-Regular.ttf);
  font-family: "Tilt", cursive;
  src: url(TiltNeon-Regular-VariableFont_XROTYROT.ttf);
}

:root {
  --Acme: "Acme", sans-serif;
  --Tilt: "Tilt", cursive;
  --notre-beige: #e9d7be
}

body {
  cursor: url(images/cat_cursor.svg), pointer;
}

a {
  cursor: url(images/cursor_a.svg), pointer;
}
/*HEADER*/

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem 6rem;
  ;
  background-color: var(--notre-beige);
}

.logo {
  clip-path: ellipse(50% 50%);
  height: 400px;
}

h1 {
  padding: 7rem;
  font-family: Acme, sans-serif;
  font-size: 3em;
  font-weight: 300;
}
/*MENU*/
nav {
  background-color: var(--notre-beige);
  color: black;
  font-size: 1.5em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  position: relative;
  
}

nav ul li a {
  display: block;
  margin: 0 1rem 0  0;
  text-decoration: none;
  color: black;
}

nav ul li:hover {
  background-color: var(--notre-beige);
  ;
}

nav ul li:hover>.dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--notre-beige);
  width: 225px;
}

.dropdown-menu li {
  display: block;
}

.dropdown-menu li a {
  padding: 0.5rem 1rem;
  color: black;
  text-decoration: none;
}

.dropdown-menu li:hover {
  background-color: var(--notre-beige);
}

/* Hover menu */
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

.menu {
  position: relative;
  text-decoration: none;
    color: #a0a0a0;
  letter-spacing: 0.5px;
  padding: 0 10px;
}

.menu:after {
  content: "";
  position: absolute;
  background-color: #22343a;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 0px;
  transition: 0.3s;
}

.menu:hover {
  color: #ffffff;
}

.menu:hover:after {
  width: 100%;
}


/* BODY */

body {
  font-family: Tilt, cursive;
}


body {
  cursor: url(images/cat_cursor.svg), pointer;
}

a,
.bouton {
  cursor: url(images/cursor_a.svg), pointer;
}

.intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.formulaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.champ {
  margin: 15px 0 0 0;
}

.textarea {
  resize: none;
}

span {
  color: red;
}

.plop:hover {
  transform: scale(1.1);
}

/*FOOTER*/

footer {
  text-align: center;
  background-color: var(--notre-beige);
  padding: 2rem;
  margin-top: 3rem;
  border-top: 2px solid rgb(97, 88, 88)
}

footer img {
  padding: 2rem;
}

footer img:hover {
  transform: scale(2);
}

.social {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}